#php_flag display_errors off
#php_flag display_startup_errors off
#php_flag html_errors off

php_flag display_errors on
php_flag display_startup_errors on
php_flag html_errors on

#Errors redirecting
#ErrorDocument 404 /page/error404
#ErrorDocument 403 /page/error403


RewriteEngine On

#RewriteCond %{HTTPS} off
#RewriteCond %{HTTP_HOST} ^(?:www\.)?(.*)$ [NC]
#RewriteRule (.*) http://%1%{REQUEST_URI} [L,R=301]

#rewrite
#RewriteRule ^home$ /?home
#RewriteRule ^email-confirm$ /?email-confirm

#catch all pages


#RedirectMatch  /(.*)/ajax\.php(.*)$ /ajax.php$2 

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php?routs=$1&%{QUERY_STRING}
